In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from scipy import stats
import matplotlib.pyplot as plt
import pickle
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# TRAIN ADS

In [2]:
df_train_ads = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/train/train_data_ads.csv')
df_train_ads.head()

,log_id,label,user_id,age,gender,residence,city,city_rank,series_dev,series_group,...,ad_click_list_v001,ad_click_list_v002,ad_click_list_v003,ad_close_list_v001,ad_close_list_v002,ad_close_list_v003,pt_d,u_newsCatInterestsST,u_refreshTimes,u_feedLifeCycle
0,373250,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
1,373253,1,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
2,373252,1,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
3,373251,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
4,373255,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030328,39^220^16,0,15

In [3]:
df_train_ads.shape

(7675517, 35)

# TRAIN FEEDS

In [106]:
df_train_feeds = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/train/train_data_feeds.csv')
df_train_feeds.head()

,u_userId,u_phonePrice,u_browserLifeCycle,u_browserMode,u_feedLifeCycle,u_refreshTimes,u_newsCatInterests,u_newsCatDislike,u_newsCatInterestsST,u_click_ca2_news,...,e_ch,e_m,e_po,e_pl,e_rn,e_section,e_et,label,cillabel,pro
0,135880,16,17,10,17,0,195^168^109^98^108,0,195^44^168^112^21,195^168^44^112^21,...,19,1217,1,561,2,0,202206081521,-1,-1,0
1,135880,16,17,10,17,0,195^168^109^98^108,0,195^44^168^112^21,195^168^44^112^21,...,19,1217,9,561,1,0,202206081521,-1,-1,0
2,135880,16,17,10,17,0,195^168^109^98^108,0,195^44^168^112^21,195^168^44^112^21,...,19,1217,18,561,1,0,202206081521,-1,-1,0
3,135880,16,17,10,17,0,195^168^109^98^108,0,195^44^168^112^21,195^168^44^112^21,...,19,1217,7,561,1,1,202206081521,-1,-1,0
4,135880,16,17,10,17,0,195^168^109^98^108,0,195^44^168^112^21,195^168^44^112^21,...,19,1217,7,561,2,0,202206081522,-1,-1,0

In [107]:
df_train_feeds.columns

Index(['u_userId', 'u_phonePrice', 'u_browserLifeCycle', 'u_browserMode',
       'u_feedLifeCycle', 'u_refreshTimes', 'u_newsCatInterests',
       'u_newsCatDislike', 'u_newsCatInterestsST', 'u_click_ca2_news',
       'i_docId', 'i_s_sourceId', 'i_regionEntity', 'i_cat', 'i_entities',
       'i_dislikeTimes', 'i_upTimes', 'i_dtype', 'e_ch', 'e_m', 'e_po', 'e_pl',
       'e_rn', 'e_section', 'e_et', 'label', 'cillabel', 'pro'],
      dtype='object')

In [108]:
df_train_feeds.shape

(3227732, 28)

# MERGE TWO DATASET

In [111]:
df_train_ads.columns

Index(['log_id', 'label', 'user_id', 'age', 'gender', 'residence', 'city',
       'city_rank', 'series_dev', 'series_group', 'emui_dev', 'device_name',
       'device_size', 'net_type', 'task_id', 'adv_id', 'creat_type_cd',
       'adv_prim_id', 'inter_type_cd', 'slot_id', 'site_id', 'spread_app_id',
       'hispace_app_tags', 'app_second_class', 'app_score',
       'ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003',
       'pt_d', 'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [115]:
# left merge to feeds
# it has smaller number
df_con = pd.merge(df_train_feeds, df_train_ads, left_on='u_userId', right_on='user_id', how='left')
df_con.head()

MemoryError: Unable to allocate 5.45 GiB for an array with shape (731414068,) and data type int64

In [ ]:
df_con.shape

# CLEANING TIME!

there are no nan and duplicated in this dataset

In [94]:
# the original label value counts

df_train_ads.label.value_counts(normalize=True)

0    0.984478
1    0.015522
Name: label, dtype: float64

In [95]:
df = df_train_ads.copy()

In [172]:
df_sub = df.sample(n=100000,random_state=23333)
df_sub.label.value_counts(normalize=True)

# pick one subset
# that value counts match original most

0    0.98452
1    0.01548
Name: label, dtype: float64

# basic check

In [173]:
# check for number of uniques for each col
col = df.columns
for c in col:
    print(c, len(df_sub[c].unique()))

log_id 96295
label 2
user_id 32303
age 8
gender 3
residence 35
city 339
city_rank 4
series_dev 26
series_group 7
emui_dev 24
device_name 238
device_size 713
net_type 6
task_id 5753
adv_id 6349
creat_type_cd 9
adv_prim_id 507
inter_type_cd 4
slot_id 58
site_id 1
spread_app_id 107
hispace_app_tags 41
app_second_class 20
app_score 3
ad_click_list_v001 46961
ad_click_list_v002 43804
ad_click_list_v003 31506
ad_close_list_v001 2122
ad_close_list_v002 1486
ad_close_list_v003 913
pt_d 5072
u_newsCatInterestsST 62222
u_refreshTimes 10
u_feedLifeCycle 8

In [174]:
df_sub.drop(columns=['site_id','log_id'], inplace=True)

### ad_click_list & ad_close_list & u_newsCatInterests

In [73]:
df.ad_click_list_v001.sample()

1820122    17005^31764^28084
Name: ad_click_list_v001, dtype: object

In [84]:
col_sel = ['ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003', 
       'u_newsCatInterestsST']
       
for col in col_sel:
    df_sub[col] = df_sub[col].map(lambda x: x.split('^'))

AttributeError: 'list' object has no attribute 'split'

In [87]:
df_sub.ad_click_list_v001

1490490    [17020, 28511, 33764, 35851, 17731]
6917527           [28035, 20652, 17344, 34505]
3475827    [15334, 32486, 32508, 24212, 19633]
1116042    [35140, 10463, 10653, 15460, 30490]
1670935    [10665, 10167, 18917, 21582, 29352]
                          ...
2750701    [23823, 33264, 29821, 18874, 24284]
6246003    [29852, 21493, 16054, 36169, 30157]
4171006    [22637, 21983, 27349, 34458, 11164]
3321215           [29700, 28007, 18697, 17491]
5523673           [34072, 31645, 31470, 12836]
Name: ad_click_list_v001, Length: 20000, dtype: object

In [93]:
type(df_sub.iloc[3]['ad_click_list_v003'])

list

# pt_d

In [99]:
df_sub.pt_d.sample(10)

682381     202206030934
5957407    202206080909
5894336    202206080451
7554994    202206090614
6230967    202206081138
2383215    202206050129
901896     202206030555
5302823    202206071000
601748     202206030829
6913143    202206090915
Name: pt_d, dtype: int64

In [175]:
df_sub['pt_d_hour'] = df_sub.pt_d.map(lambda x: int(str(x)[-4:-2]))

In [176]:
df_sub.pt_d_hour.value_counts(normalize=True).sort_index()

1     0.06973
2     0.06216
3     0.06245
4     0.06388
5     0.06877
6     0.08385
7     0.09856
8     0.10133
9     0.10541
10    0.10833
11    0.09877
12    0.07676
Name: pt_d_hour, dtype: float64

# save to CSV, and call it a day!

### baseline dataframe select

In [143]:
col_sel = ['log_id','user_id','site_id','ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003','pt_d', 'u_newsCatInterestsST']
df_export = df.drop(columns=col_sel)

In [144]:
df_export.columns

Index(['label', 'age', 'gender', 'residence', 'city', 'city_rank',
       'series_dev', 'series_group', 'emui_dev', 'device_name', 'device_size',
       'net_type', 'task_id', 'adv_id', 'creat_type_cd', 'adv_prim_id',
       'inter_type_cd', 'slot_id', 'spread_app_id', 'hispace_app_tags',
       'app_second_class', 'app_score', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [146]:
df_export.to_csv(r'C:\Users\qwswe\Documents\Flatiron\DS_P3\Output_Data\Model_1_baseline_data.csv', index = False)

# CSV for EDA

In [177]:
# final check for export

df_sub.shape

(100000, 34)

In [178]:
df_sub.columns

Index(['label', 'user_id', 'age', 'gender', 'residence', 'city', 'city_rank',
       'series_dev', 'series_group', 'emui_dev', 'device_name', 'device_size',
       'net_type', 'task_id', 'adv_id', 'creat_type_cd', 'adv_prim_id',
       'inter_type_cd', 'slot_id', 'spread_app_id', 'hispace_app_tags',
       'app_second_class', 'app_score', 'ad_click_list_v001',
       'ad_click_list_v002', 'ad_click_list_v003', 'ad_close_list_v001',
       'ad_close_list_v002', 'ad_close_list_v003', 'pt_d',
       'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle',
       'pt_d_hour'],
      dtype='object')

In [179]:
df_sub.drop(columns='pt_d', inplace=True)

In [180]:
df_sub.to_csv(r'C:\Users\qwswe\Documents\Flatiron\DS_P3\Output_Data\EDA_data_subset.csv', index = False)