In [41]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from scipy import stats
import matplotlib.pyplot as plt
import pickle
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# TRAIN ADS

In [42]:
df_train_ads = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/train/train_data_ads.csv')
df_train_ads.head()

,log_id,label,user_id,age,gender,residence,city,city_rank,series_dev,series_group,...,ad_click_list_v001,ad_click_list_v002,ad_click_list_v003,ad_close_list_v001,ad_close_list_v002,ad_close_list_v003,pt_d,u_newsCatInterestsST,u_refreshTimes,u_feedLifeCycle
0,373250,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
1,373253,1,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
2,373252,1,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
3,373251,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030326,39^220^16,0,15
4,373255,0,100005,3,2,16,147,2,32,6,...,30157^30648^14278^31706,2066^1776^1036,114^219^312,24107,1218,173,202206030328,39^220^16,0,15

In [43]:
df_train_ads.shape

(7675517, 35)

# TRAIN FEEDS

In [46]:
df_train_feeds = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/train/train_data_feeds.csv')

In [47]:
df_train_feeds.shape

(3227732, 28)

# TEST ADS

In [48]:
df_test_ads = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/test/test_data_ads.csv')

In [49]:
df_test_ads.shape

(976058, 34)

# TEST FEEDS

In [50]:
df_test_feeds = pd.read_csv('CTR Prediction - 2022 DIGIX Global AI Challenge/test/test_data_feeds.csv')
df_test_feeds.head()

,u_userId,u_phonePrice,u_browserLifeCycle,u_browserMode,u_feedLifeCycle,u_refreshTimes,u_newsCatInterests,u_newsCatDislike,u_newsCatInterestsST,u_click_ca2_news,...,e_ch,e_m,e_po,e_pl,e_rn,e_section,e_et,label,cillabel,pro
0,215116,16,17,14,11,0,65^72^42^65^104,0,219^50^151^21^140,219^50^151^114^21,...,19,998,9,2449,13,0,202206100922,-1,-1,0
1,215116,16,17,14,11,0,65^72^42^65^104,0,219^50^151^21^140,219^50^151^114^21,...,19,998,7,2449,14,0,202206100924,-1,-1,0
2,215116,16,17,14,11,0,65^72^42^65^104,0,0,65^104^98^168^0,...,19,998,14,2449,1,0,202206100907,1,-1,40
3,215116,16,17,14,11,0,65^72^42^65^104,0,219^50^151^21^140,219^50^151^114^21,...,19,998,5,2449,11,0,202206100921,-1,-1,0
4,215116,16,17,14,11,0,65^72^42^65^104,0,219^50^151^21^140,219^50^151^114^21,...,19,998,3,2449,14,0,202206100922,-1,-1,0

In [51]:
df_test_feeds.shape

(369341, 28)

# FIND OUT THE TARGET

In [52]:
df_test_ads.columns

Index(['log_id', 'user_id', 'age', 'gender', 'residence', 'city', 'city_rank',
       'series_dev', 'series_group', 'emui_dev', 'device_name', 'device_size',
       'net_type', 'task_id', 'adv_id', 'creat_type_cd', 'adv_prim_id',
       'inter_type_cd', 'slot_id', 'site_id', 'spread_app_id',
       'hispace_app_tags', 'app_second_class', 'app_score',
       'ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003',
       'pt_d', 'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [53]:
df_train_ads.columns

Index(['log_id', 'label', 'user_id', 'age', 'gender', 'residence', 'city',
       'city_rank', 'series_dev', 'series_group', 'emui_dev', 'device_name',
       'device_size', 'net_type', 'task_id', 'adv_id', 'creat_type_cd',
       'adv_prim_id', 'inter_type_cd', 'slot_id', 'site_id', 'spread_app_id',
       'hispace_app_tags', 'app_second_class', 'app_score',
       'ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003',
       'pt_d', 'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [54]:
df_train_ads.label.value_counts(normalize=True)

0    0.984478
1    0.015522
Name: label, dtype: float64

the label should be it

# CLEANING TIME!

there are no nan and duplicated in this dataset

In [134]:
df = df_train_ads.copy()

In [58]:
df.columns

Index(['log_id', 'label', 'user_id', 'age', 'gender', 'residence', 'city',
       'city_rank', 'series_dev', 'series_group', 'emui_dev', 'device_name',
       'device_size', 'net_type', 'task_id', 'adv_id', 'creat_type_cd',
       'adv_prim_id', 'inter_type_cd', 'slot_id', 'site_id', 'spread_app_id',
       'hispace_app_tags', 'app_second_class', 'app_score',
       'ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003',
       'pt_d', 'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7675517 entries, 0 to 7675516
Data columns (total 35 columns):
 #   Column                Dtype
---  ------                -----
 0   log_id                int64
 1   label                 int64
 2   user_id               int64
 3   age                   int64
 4   gender                int64
 5   residence             int64
 6   city                  int64
 7   city_rank             int64
 8   series_dev            int64
 9   series_group          int64
 10  emui_dev              int64
 11  device_name           int64
 12  device_size           int64
 13  net_type              int64
 14  task_id               int64
 15  adv_id                int64
 16  creat_type_cd         int64
 17  adv_prim_id           int64
 18  inter_type_cd         int64
 19  slot_id               int64
 20  site_id               int64
 21  spread_app_id         int64
 22  hispace_app_tags      int64
 23  app_second_class      int64
 24  app_score             float64
 25  ad_click_list_v001    object
 26  ad_click_list_v002    object
 27  ad_click_list_v003    object
 28  ad_close_list_v001    object
 29  ad_close_list_v002    object
 30  ad_close_list_v003    object
 31  pt_d                  int64
 32  u_newsCatInterestsST  object
 33  u_refreshTimes        int64
 34  u_feedLifeCycle       int64
dtypes: float64(1), int64(27), object(7)
memory usage: 2.0+ GB

# pt_d
time

In [122]:
df.pt_d.head()

0    202206030326
1    202206030326
2    202206030326
3    202206030326
4    202206030328
Name: pt_d, dtype: int64

In [124]:
df.pt_d = pd.to_datetime(df.pt_d, format='%Y%m%d%H%M')

In [135]:
col = df.columns
col

Index(['log_id', 'label', 'user_id', 'age', 'gender', 'residence', 'city',
       'city_rank', 'series_dev', 'series_group', 'emui_dev', 'device_name',
       'device_size', 'net_type', 'task_id', 'adv_id', 'creat_type_cd',
       'adv_prim_id', 'inter_type_cd', 'slot_id', 'site_id', 'spread_app_id',
       'hispace_app_tags', 'app_second_class', 'app_score',
       'ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003',
       'pt_d', 'u_newsCatInterestsST', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [136]:
for c in col:
    print(c, len(df[c].unique()))

log_id 1176633
label 2
user_id 65297
age 8
gender 3
residence 35
city 341
city_rank 4
series_dev 27
series_group 7
emui_dev 27
device_name 256
device_size 1547
net_type 6
task_id 11209
adv_id 12615
creat_type_cd 9
adv_prim_id 545
inter_type_cd 4
slot_id 60
site_id 1
spread_app_id 116
hispace_app_tags 43
app_second_class 20
app_score 3
ad_click_list_v001 108720
ad_click_list_v002 95376
ad_click_list_v003 61102
ad_close_list_v001 3883
ad_close_list_v002 2701
ad_close_list_v003 1715
pt_d 5436
u_newsCatInterestsST 187576
u_refreshTimes 10
u_feedLifeCycle 8

In [129]:
len(df.age.unique())

8

### ad_click_list

In [78]:
df.ad_click_list_v001.sample()

6876853    29360^16086^19429
Name: ad_click_list_v001, dtype: object

In [101]:
df.ad_click_list_v001.value_counts()

15764                            227733
31706                              3762
31941                              3627
22937                              3013
14584                              2926
                                  ...
23442^10548^11939                     1
14368^36021^33598^18557               1
23823^36314^24299^12309^35359         1
29047^15319^24745                     1
16086^17926^10625^34768^18800         1
Name: ad_click_list_v001, Length: 108720, dtype: int64

In [103]:
df.ad_click_list_v001[0].split('^')

['30157', '30648', '14278', '31706']

In [109]:
df.ad_click_list_v001 = df.ad_click_list_v001.map(lambda x: x.split('^'))

In [113]:
click_list = []

df.ad_click_list_v001[0][0]


for i in range(len(df.ad_click_list_v001[0])):
    if df.ad_click_list_v001[0][i] not in click_list:
        click_list.append(df.ad_click_list_v001[0][i])

In [114]:
click_list

['30157', '30648', '14278', '31706']

In [133]:
df.site_id.value_counts()

1    7675517
Name: site_id, dtype: int64

In [79]:
df.ad_click_list_v002.sample()

7240359    1763^2057
Name: ad_click_list_v002, dtype: object

In [132]:
len(df.ad_click_list_v002.unique())

95376

In [81]:
df.ad_click_list_v003.sample()

4839326    121^114^199^344
Name: ad_click_list_v003, dtype: object

In [91]:
df.ad_close_list_v001.sample()

2385886    24107
Name: ad_close_list_v001, dtype: object

In [93]:
df.ad_close_list_v002.sample()

218110    1218
Name: ad_close_list_v002, dtype: object

In [97]:
df.ad_close_list_v003.sample()

3818257    173
Name: ad_close_list_v003, dtype: object

In [98]:
df.pt_d.sample(5)

1260748    202206040956
2658530    202206050953
4528911    202206070942
4694337    202206070613
4020307    202206061221
Name: pt_d, dtype: int64

In [100]:
df.log_id.sample(5)

5269359    1021200
5488696     697565
2768430     492047
5073416     964459
4728678     359046
Name: log_id, dtype: int64

# save to CSV, and call it a day!

In [143]:
col_sel = ['log_id','user_id','site_id','ad_click_list_v001', 'ad_click_list_v002', 'ad_click_list_v003',
       'ad_close_list_v001', 'ad_close_list_v002', 'ad_close_list_v003','pt_d', 'u_newsCatInterestsST']
df_export = df.drop(columns=col_sel)

In [144]:
df_export.columns

Index(['label', 'age', 'gender', 'residence', 'city', 'city_rank',
       'series_dev', 'series_group', 'emui_dev', 'device_name', 'device_size',
       'net_type', 'task_id', 'adv_id', 'creat_type_cd', 'adv_prim_id',
       'inter_type_cd', 'slot_id', 'spread_app_id', 'hispace_app_tags',
       'app_second_class', 'app_score', 'u_refreshTimes', 'u_feedLifeCycle'],
      dtype='object')

In [146]:
df_export.to_csv(r'C:\Users\qwswe\Documents\Flatiron\DS_P3\Output_Data\Model_1_baseline_data.csv', index = False)